:root{

    /* Colores */
    --color-primary: #E53935;
    --color-secondary: #1A1A1A;
    --color-light: #FFFFFF;
    --color-bg: black;

    /* Tipografía */
    --font-primary: 'Poppins', sans-serif;

    /* Transiciones */
    --transition: .3s ease;

    /* Tamaño de fuente titulo */
    --font-size: 25px;

    /* Tamaño fuente texto */
    --font-text: 20px;

    /* Tamaño menu activo */
    --font-active: 30px;

    /* Tamaño menu activo */
    --font-subMenu: 15px;

    --card-bg: #1e293b;       /* Fondo de las tarjetas */
    --text-white: #f8fafc;    /* Texto principal */
    --text-gray: #94a3b8;     /* Texto secundario */
    --accent-orange: #f97316; /* Color de acento/energía */
    
    /* Colores de marca originales para los hovers */
    --instagram-color: #e1306c;
    --facebook-color: #1877f2;
    --x-color: #000000;
    --whatsapp-color: #25d366;

}

